canvas{
    border: 1px solid black;
    width: 700px;
    height: 300px;
}

#play, #stop{
    display: inline-block;
    padding: 16px;
    border:1px solid #000;
    border-radius: 5px;
}
/* iframe{display: none;} */
body{
    background-color: rgb(255, 255, 255);
    color: cornflowerblue;
}
video{
    display: none;
}
